/* *** PerfectScrollbar *** */

.ps__thumb-y {
  background-color: #ffffff !important;
}

.ps__thumb-y:hover {
  background-color: #29a663 !important;
  width: 8px !important;
}

.ps__rail-y {
  width: 11px !important;
}